<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hao.redis.dal.dao.WeiboMapper">

    <resultMap id="BaseResultMap" type="com.hao.redis.dal.model.WeiboPost">
        <id property="postId" column="id"/>
        <result property="userId" column="author"/>
        <result property="content" column="content"/>
        <result property="createTime" column="created_at"/>
    </resultMap>

    <sql id="baseColumns">
        id, content, author, created_at
    </sql>

    <select id="selectById" parameterType="long" resultMap="BaseResultMap">
        select <include refid="baseColumns"/>
        from weibo
        where id = #{id}
    </select>
</mapper>
